<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servelt.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetNoticeServlet</servlet-name>
    <servlet-class>servelt.GetNoticeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetNewsServlet</servlet-name>
    <servlet-class>servelt.GetNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SendLeave</servlet-name>
    <servlet-class>servelt.SendLeave</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SendLeaveServlet</servlet-name>
    <servlet-class>servelt.SendLeaveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetLeaveServlet</servlet-name>
    <servlet-class>servelt.GetLeaveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManagerLeaveServlet</servlet-name>
    <servlet-class>servelt.ManagerLeaveServlet</servlet-class>
  </servlet>
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManagerMoneyServlet</servlet-name>
    <servlet-class>servelt.ManagerMoneyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddNewsServlet</servlet-name>
    <servlet-class>servelt.AddNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetUsersServlet</servlet-name>
    <servlet-class>servelt.GetUsersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeUserServlet</servlet-name>
    <servlet-class>servelt.ChangeUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>servelt.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SignServlet</servlet-name>
    <servlet-class>servelt.SignServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetSignServlet</servlet-name>
    <servlet-class>servelt.GetSignServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewNote</servlet-name>
    <servlet-class>servelt.NewNote</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetNote</servlet-name>
    <servlet-class>servelt.GetNote</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetMoneyServlet</servlet-name>
    <servlet-class>servelt.GetMoneyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SendMoneyServlet</servlet-name>
    <servlet-class>servelt.SendMoneyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteNoteServlet</servlet-name>
    <servlet-class>servelt.DeleteNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetDalyList</servlet-name>
    <servlet-class>servelt.GetDalyList</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddNewDalyServlet</servlet-name>
    <servlet-class>servelt.AddNewDalyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddNoticesServelt</servlet-name>
    <servlet-class>servelt.AddNoticesServelt</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddNewDateServlet</servlet-name>
    <servlet-class>servelt.AddNewDateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetDateList</servlet-name>
    <servlet-class>servelt.GetDateList</servlet-class>
  </servlet>










  














  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetNoticeServlet</servlet-name>
    <url-pattern>/GetNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetNewsServlet</servlet-name>
    <url-pattern>/GetNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendLeave</servlet-name>
    <url-pattern>/SendLeave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendLeaveServlet</servlet-name>
    <url-pattern>/SendLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetLeaveServlet</servlet-name>
    <url-pattern>/GetLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerLeaveServlet</servlet-name>
    <url-pattern>/ManagerLeaveServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ManagerMoneyServlet</servlet-name>
    <url-pattern>/ManagerMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewsServlet</servlet-name>
    <url-pattern>/AddNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUsersServlet</servlet-name>
    <url-pattern>/GetUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeUserServlet</servlet-name>
    <url-pattern>/ChangeUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignServlet</servlet-name>
    <url-pattern>/SignServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSignServlet</servlet-name>
    <url-pattern>/GetSignServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewNote</servlet-name>
    <url-pattern>/NewNote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetNote</servlet-name>
    <url-pattern>/GetNote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMoneyServlet</servlet-name>
    <url-pattern>/GetMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMoneyServlet</servlet-name>
    <url-pattern>/SendMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteNoteServlet</servlet-name>
    <url-pattern>/DeleteNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDalyList</servlet-name>
    <url-pattern>/GetDalyList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewDalyServlet</servlet-name>
    <url-pattern>/AddNewDalyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNoticesServelt</servlet-name>
    <url-pattern>/AddNoticesServelt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewDateServlet</servlet-name>
    <url-pattern>/AddNewDateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDateList</servlet-name>
    <url-pattern>/GetDateList</url-pattern>
  </servlet-mapping>
 
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
